{% load static %}
<!-- /////////////////////////////////////////Navigation -->
<nav id="menu" class="navbar container">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            <a href="index.html" class="navbar-brand visible-xs">PhotoGrap</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li class="dropdown"><a href="archive.html" class="dropdown-toggle" data-toggle="dropdown">Categories <i class="fa fa-chevron-down"></i></a>
                    <div class="dropdown-menu" style="margin-left: -203.625px;">
                        <div class="dropdown-inner">
                            <ul class="list-unstyled">
                                <li><a href="#">Text 301</a></li>
                                <li><a href="#">Text 302</a></li>
                                <li><a href="#">Text 303</a></li>
                                <li><a href="#">Text 304</a></li>
                                <li><a href="#">Text 305</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#">Text 306</a></li>
                                <li><a href="#">Text 307</a></li>
                                <li><a href="#">Text 308</a></li>
                                <li><a href="#">Text 309</a></li>
                                <li><a href="#">Text 310</a></li>
                            </ul>
                            <ul class="list-unstyled">
                                <li><a href="#">Text 311</a></li>
                                <li><a href="#">Text 312</a></li>
                                <li><a href="#">Text 313</a></li>
                                <li><a href="#">Text 314</a></li>
                                <li><a href="#">Text 315</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="archive.html">Blog</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation -->